body{
    background-size: contain;
    /* background-image: url( images/photo4.jpg); */
    background-image: url( images/back4.webp);
}
.welcometotheking{
    font-size: 70px;
    color: darkblue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.aboutme{
    font-size: 20px;
    text-align: right;
    color: darkblue;
}
.bloginfo{
    font-size: 20px;
    text-align: right;
    color: darkblue;
}
.acknowledgement{
    font-size: 20px;
    text-align: right;
    color: darkblue;
}
.menu{
    color: brown;
    text-align: left;
    /* background-color: darkblue; */
    /* display: inline-block; */
}
.homeacknowledge{
    font-size: 20px;
    color: darkblue;
}
.homeaboutme{
    font-size: 20px;
    color: darkblue;
}
.blogaboutme{
    font-size: 20px;
    color: darkblue;
}
.homeaboutblog{
    font-size: 20px;
    color: darkblue;
}
.aboutblog{
    font-size: 20px;
    color: darkblue;
}
.proverb47aboutblog{
    font-size: 50px;
    color: darkcyan;
}
.allyouneedaboutblog{
    text-align: center;
    font-size: 50px;
}
.wordsparagraphaboutblog{
    font-size: 20px;
    text-align: center;
    color: darkblue;
}
.tableofcontentindex{
    font-size: 20px;
    text-align: right;
    color: darkblue;
}
.homecontent{
    font-size: 20px;
    color: darkblue;
}
.howtobuildarelationshipcontent{
    font-size: 20px;
    color: black;
}
.basicfoundationcontent{
    font-size: 20px;
    color: darkblue;
}
.basictechnologycontent{
    font-size: 20px;
    color: darkblue;
}
.howtolivehealthy{
    font-size: 20px;
    color: darkblue;
}
.isaiah517acknowledgement{
    font-size: 50px;
    color: darkblue;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.knowledgeacknowledgement{
    text-align: center;
    font-size: 80px;
}
.paragraphonknowledgeacknowledgement{
    font-weight: bolder;
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    font-style: italic;
}
.youstandachanceindex{
    color: darkblue;
    text-align: center;
}
.tableindex{
    font-size: 20px;
    text-align: center;
    /* background-color: antiquewhite; */
}
.tableofcontentbible{
    font-size: 20px;
    color: darkblue;
}
.john112bible{
    font-style: italic;
    font-size: 50px;
    color: darkred;
}
.ulbible{
    font-size: 20px;
    background-image: url( images/bible2.jpg);
    display: inline-block;
    font-weight: bolder;
    background-size: contain;
    font-style: italic;
    text-align: center;
    color: black;
}
.tableofcontentaccounting{
    font-size: 20px;
    color: darkblue;
}
.tableofcontenttechnology{
    font-size: 20px;
    color: darkblue;
}
.tableofcontenthealth{
    font-size: 20px;
    color: darkblue;
}
.proverb42022health{
    font-size: 50px;
    font-style: italic;

}